﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BusinessObjects.Product

<h2>Delete Product</h2>

<div>
    <h4>Are you sure you want to delete this product?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Product Id</dt>
        <dd class="col-sm-10">@Model.ProductId</dd>
        <dt class="col-sm-2">Product Name</dt>
        <dd class="col-sm-10">@Model.ProductName</dd>
    </dl>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
