﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<BusinessObjects.Product>
@{
    ViewData["Title"] = "Index";
    string keyword = ViewData["keyword"] as string;
}

<h2>Product List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Weight</th>
            <th>Category Id</th>
            <th>Units In Stock</th>
            <th>Unit Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.Weight</td>
                <td>@product.CategoryId</td>
                <td>@product.UnitsInStock</td>
                <td>@product.UnitPrice</td>
                <td>
                    <a asp-action="Details" asp-route-id="@product.ProductId">Details</a> |
                    <a asp-action="Edit" asp-route-id="@product.ProductId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@product.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
