﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <a class="btn btn-warning" href="https://localhost:7042/Member/Index">Manage Account</a>


    <a class="btn btn-warning" href="https://localhost:7042/Order/Index">Order</a>



    <a class="btn btn-warning" href="https://localhost:7042/Product/Index">Product</a>

