﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DataTransfer.MemberRequest

@{
    ViewData["Title"] = "Edit Member";
}

<div class="container">
    <h1>Edit Member</h1>

    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="MemberId" />
        <div class="form-group">
            <label asp-for="Email">Email:</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CompanyName">Company Name:</label>
            <input asp-for="CompanyName" class="form-control" />
            <span asp-validation-for="CompanyName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="City">City:</label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Country">Country:</label>
            <input asp-for="Country" class="form-control" />
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
        <!-- Thêm các trường dữ liệu khác cần chỉnh sửa -->

        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>