﻿@model BusinessObjects.Order

<h2>Order Details</h2>

<table class="table">
    <tbody>
        <tr>
            <td><strong>Order ID:</strong></td>
            <td>@Model.OrderID</td>
        </tr>
        <tr>
            <td><strong>Order Date:</strong></td>
            <td>@Model.OrderDate</td>
        </tr>
        <tr>
            <td><strong>Required Date:</strong></td>
            <td>@Model.RequiredDate</td>
        </tr>
        <tr>
            <td><strong>Shipped Date:</strong></td>
            <td>@Model.ShippedDate</td>
        </tr>
        <tr>
            <td><strong>Freight:</strong></td>
            <td>@Model.Freight</td>
        </tr>
        <tr>
            <td><strong>Member ID:</strong></td>
            <td>@Model.MemberId</td>
        </tr>
    </tbody>
</table>