﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BusinessObjects.Order

<h2>Edit Order</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="OrderID" />

    <div class="form-group">
        <label for="OrderDate">Order Date:</label>
        <input type="text" class="form-control" asp-for="OrderDate">
    </div>
    <div class="form-group">
        <label for="RequiredDate">Required Date:</label>
        <input type="text" class="form-control" asp-for="RequiredDate">
    </div>
    <div class="form-group">
        <label for="ShippedDate">Shipped Date:</label>
        <input type="text" class="form-control" asp-for="ShippedDate">
    </div>
    <div class="form-group">
        <label for="Freight">Freight:</label>
        <input type="text" class="form-control" asp-for="Freight">
    </div>
    <div class="form-group">
        <label for="MemberId">Member Id:</label>
        <input type="text" class="form-control" asp-for="MemberId">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
